<!-- Begin PayPal Logo -->
<FORM ACTION="https://secure.paypal.com/cgi-bin/webscr" METHOD="POST">
<INPUT TYPE="hidden" NAME="cmd" VALUE="_xclick">
<INPUT TYPE="hidden" NAME="business" VALUE="kochsner@x.com">
<INPUT TYPE="hidden" NAME="return" VALUE="http://www.YOUR_WEB_SITE.com">
<! <INPUT TYPE="hidden" NAME="undefined_quantity" VALUE="0">
<INPUT TYPE="hidden" NAME="item_name" VALUE="ITEM NAME GOES HERE">
<INPUT TYPE="hidden" NAME="item_number" VALUE="ITEM ID NUMBER GOES HERE">
<INPUT TYPE="hidden" NAME="amount" VALUE="1.00">
<INPUT TYPE="hidden" NAME="shipping" VALUE="0.00">
<INPUT TYPE="hidden" NAME="shipping2" VALUE="0.00">
<INPUT TYPE="hidden" NAME="handling" VALUE="0.00">
<INPUT TYPE="image" SRC="http://images.paypal.com/images/x-click-but01.gif" NAME="submit" ALT="Make payments with PayPal - it's fast, free and 
secure!">
</FORM>
<!-- End PayPal Logo -->
